/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
:root {
  font-family:  Courier, Papyrus, 'Courier New';
}
html {
  background-image: url("./background1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: blue;
  background-color: black;
  border-radius: 5px;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.allSpace {
  display: grid;
  grid-template-areas: '. title scoresArea'
                        '. instructions scoresArea'
                        'interact interact interact';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(70px, auto) minmax(40px, auto) 700px;
}
.title {
  grid-area: title;
  justify-self: center;
  align-self: start;
  text-align: center;
  color: blue;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.restartButton {
  border-color: black;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /*text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;*/
}
.scoresArea {
  grid-area: scoresArea;
  justify-self: center;
  align-self: center;
  text-align: right;
  margin-right: 50px;
  font-size: 25px;
  color: blue;
  text-shadow:
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}
.instructions {
  grid-area: instructions;
  justify-self: center;
  color: blue;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  text-shadow:
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}
.interact {
  grid-area: interact;
  justify-self: center;
}

.cardBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 650px;
  height: 650px;
}
.individualCard {
  height: 140px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
  color: black;
  border-style: solid;
  border-color: black;
}
